/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1e1e2f;
    color: #f0f0f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
}

#logo {
    max-width: 30%; 
    height: auto; 
}

h1 {
    margin-top: 30px;
    font-size: 2.5rem;
    text-align: center;
    color: #ffffff;
}

/* Botón de Mostrar Campeones */
#mostrarCampeonesBtn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;
}

#mostrarCampeonesBtn:hover {
    background-color: #0056b3;
}

/* Contenedor de Campeones */
.champion-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    width: 80%;
    margin: 20px 0;
}

/* Tarjetas de Campeones */
.champion {
    background-color: #2a2a3a;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative; 
    overflow: hidden; 
}

.champion:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    filter: brightness(0.9);
}

.champion img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.champion p {
    margin: 0;
    font-size: 1rem;
    color: #ffffff;
}

/* Responsividad */
@media (max-width: 768px) {
    .champion-container {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }

    #mostrarCampeonesBtn {
        font-size: 1rem;
        padding: 10px 20px;
    }

    h1 {
        font-size: 2rem;
    }
}

/* Contenedor de información adicional */
.additional-info {
    display: none; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    padding: 20px; 
    border-radius: 10px;
    text-align: left; 
}


.champion:hover .additional-info {
    display: block; 
}


/* Estilos para el Modal */
#imagen-grande {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background: rgba(0, 0, 0, 0.7); 
    z-index: 999; 
    overflow: auto; 
}

.imagen-grande-container {
    display: flex; 
    background: rgba(0, 0, 0, 0.9); 
    padding: 20px; 
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%; 
    overflow-y: auto;
}

.imagen-grande-container img {
    width: 300px; 
    height: auto; 
    border-radius: 8px; 
    margin-right: 20px; 
}

.imagen-grande-texto {
    color: #f0f0f5;
    max-width: 60%;
}

#cerrar-imagen-grande {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px; 
    color: #ffffff; 
}


/* Estilos para las habilidades */
.abilities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-top: 10px;
}

.ability {
    margin: 10px;
    text-align: center;
    flex: 1 0 100px; 
}

.ability img {
    width: 50px; 
    height: auto;
    border-radius: 4px; 
}

.ability p {
    margin: 5px 0 0; 
    font-size: 0.9rem; 
}


h2, h3, h4 {
    color: #ffffff; 
}

h3 {
    margin-top: 20px; 
}
